<a [routerLink]="['/post', post().id]" class="text-decoration-none text-dark h-100 d-block card-hover">
  @if (layout() === 'grid'){
  <div class="card h-100 border-0 bg-transparent">

    <!-- Thumbnail -->
    <div class="overflow-hidden rounded mb-3 position-relative bg-light" style="aspect-ratio: 16/9">
      <img [src]="displayImage()" alt="Post Cover" class="img-fluid w-100 h-100 object-fit-cover transition-zoom">
    </div>

    <!-- Content -->
    <div class="d-flex flex-column">
      <div class="d-flex flex-wrap gap-1 mb-1">
        @for (cat of postCategories(); track cat.id; let last = $last) {
        <span class="text-primary small fw-bold text-uppercase">
          {{ cat.name }} {{ !last ? '&middot;' : '' }}
        </span>
        }
      </div>
      <h5 class="fw-bold mb-2 lh-sm">{{ post().title }}</h5>

      <p class="text-muted small line-clamp-3 mb-2">
        {{ displayExcerpt() }}
      </p>

      <div class="d-flex align-items-center small text-muted mt-auto pt-2">
        <span class="fw-semibold text-dark">{{ authorName() }}</span>
        <span class="mx-1">&middot;</span>
        <span>{{ post().createdAt | date:'mediumDate' }}</span>
      </div>
    </div>

  </div>
  }

  @if (layout() === 'list') {
  <div class="d-flex align-items-start gap-4 py-4 border-bottom">
    <div class="flex-grow-1">
      <div class="d-flex align-items-center small text-muted mb-2">
        <span class="fw-semibold text-dark">{{ authorName() }}</span>
        <span class="mx-1">&middot;</span>
        <span>{{post().createdAt | date: 'mediumDate'}}</span>
      </div>

      <h5 class="fw-bold mb-2">{{ post().title }}</h5>
      <p class="text-muted small line-clamp-2 mb-0 d-none d-md-block">
        {{ displayExcerpt() }}
      </p>
    </div>

    <div class="flex-shrink-0 bg-light rounded overflow-hidden border" style="width: 140px; height: 100px;">
      <img [src]="displayImage()" class="img-fluid w-100 h-100 object-fit-cover">
    </div>
  </div>
  }
</a>
