<article class="post-preview post-container"
  [routerLink]="['/blog', 'posts', post().id]" >
  <h3 class="post-title">{{ post().title | slice: 0:150 }}</h3>
  <div class="post-meta">
    <p>Bởi: <strong>{{ post().user.fullName }}</strong></p>

    <p>Ngày đăng: {{ post().createdAt | date: 'dd/MM/yyyy' }}</p>
  </div>
  <p class="post-body post-summary">{{ post().body | slice: 0:150 }}...</p>
  <div class="categories">
    @for (category of post().categories; track category.id; let last = $last) {
    <span class="category-tag">{{ category.name }}</span>
    @if (!last) {
          <span class="sep">•</span>
        }
    }
  </div>

</article>
